<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- invoke vue -->
    <script type="text/javascript" src="../js/vue.js"></script> 
</head>
<body>
    <!-- View -->
    <div id="root">
        <button @click.once="add">add laoliu in the persons</button>
        <ul>
            <li v-for="(p, index) in persons" :key="p.id">
                {{p.id}}-{{p.name}}
                <input type="text">
            </li>
        </ul><br>

        <ul>
                                            <!--Dont use index as key-->
            <li v-for="(p, index) in persons" :key="index">
                {{p.id}}-{{p.name}}
                <input type="text">
            </li>
        </ul><br>
    </div>
</body>
</html>

<script type="text/javascript">
    Vue.config.productionTip=false
    const vm = new Vue({
        el:"#root",
        data:{
            persons:[
                {id:"001",name:"zhangsan",age:18},
                {id:"002",name:"lisi",age:19},
                {id:"003",name:"wangwu",age:20}
            ]
        },
        methods: {
            add(){
                const p = {id:'004', name:"laoliu",age:40}
                this.persons.unshift(p)
            }
        },
    })
</script>

